# Datos de login y configuración de ODK
ODK_EMAIL=odk_user@example-mail.com
ODK_PASSWORD=password
ODK_URL=https://dominio-servidor-odkcentral.com
ODK_PROJECT_ID=1
# Datos de login y configuración del backend FastAPI
FASTAPI_URL=http://backend-example-domain.com:8000
FASTAPI_USERNAME=backend_user@example-mail.com
FASTAPI_PASSWORD=password_backend
